/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
html {
  background: url(assets/burger-friends.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-around;
  height: 50%;
  padding-top: 2%;
  margin: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #0fb9b1;
}

.required {
  color: #ee5253;
  margin: .5%;
  position: relative;
  top: -8px;
}

h1, h2, label, button {
  font-family: 'Roboto', sans-serif;
}

.box {
  width: 30%;
  padding: 40px;
  background-color: rgba(225, 225, 225, .9);
}

.cook-button {
  background-color: #0fb9b1;
  width: 45%;
  padding: 2%;
  margin: 2%;
  border-radius: 5px;
  border: none;
  font-size: medium;
}

.cookpot-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 1.3em;
  margin-bottom: .5%;
}

.display-result {
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-size: 2.9em;
  text-align: center;
}

.list {
  margin: 2%;
  font-size: 1.2em;
}

.title {
  margin-left: 1.7%;
  font-size: 1.5em;
}

h2 {
  margin-left: 2%;
  margin-bottom: 3%;
  font-size: xx-large;
}

img {
  width: 150px;
}

.input-recipe {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: rgba(225, 225, 225, .9);
  padding: 1.4%;
}

.add-recipe {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 28px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: none;
  font-size: .99em;
}

.type-form {
  margin-right: .5%;
  align-self: center;
  font-size: 1.2em;
}

.name-form {
  margin-right: .5%;
  align-self: center;
  font-size: 1.2em;

}

#recipe-name, #recipe-type {
  margin-right: 2%;
  height: 35px;
}

.add-new {
  border-radius: 5px;
  background-color: #0fb9b1;
}


.hidden {
  display: none;
}
